// Font and Color Variables
$font-family: "Arimo", sans-serif;
$background-color: #f3f3f3;

// Icon and Spacing Variables
$icon-size: 50px;
$icon-padding: 10px;
$gap-size: 10px;
$font-size: 14px;
$font-weight: 500;

// Layout and Dimension Variables
$task-bar-height: 50px;
$padding-right: 20px;
$modal-height: 400px;
$modal-width: 600px;
$border-radius: 4px;